:root {
  --background-color: #121212;
  --container-bg-color: #1e1e1e;
  --text-color: #e0e0e0;
  --highlight-color: #4fc3f7;
  --border-color: #333;
  --button-bg-color: #4fc3f7;
  --button-text-color: #000;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  font-size: 18px;
}

.container {
  width: 70vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--container-bg-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

a {
  color: var(--highlight-color);
  text-decoration: none;
}

h1,
h2 {
  color: #ffffff;
}

#topic {
  color: var(--highlight-color);
  font-size: 1.4em;
  margin-left: 15px;
}

#question-container {
  margin-top: 20px;
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 4px;
}

#question a:hover {
  text-decoration: underline;
}

#answer {
  color: var(--text-color);
  font-size: 1.1em;
  line-height: 1.6;
  transition: filter 0.3s ease;
}

#answer img {
  max-width: 100%;
  max-height: 80vh;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  background-color: #f1f1f1;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 15px;
  padding: 5px;
  background-color: var(--border-color);
  border-radius: 50%;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center img {
  display: block;
}

#add-custom-topic-modal,
#settings-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

#custom-topic-url,
#custom-topic-name {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #e0e0e0;
}


.modal-content {
  background-color: var(--container-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border: 1px solid var(--border-color);
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  max-height: 70vh;
  overflow-y: auto;
}

#topics-list {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.topic-item {
  margin-bottom: 15px;
}

.topic-item label {
  margin-left: 10px;
  color: var(--text-color);
  font-size: 1.1em;
}

button {
  background-color: var(--button-bg-color);
  border: none;
  color: var(--button-text-color);
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 4px;
}

.blurred {
  filter: blur(5px);
}

#toggle-answer {
  background: none;
  border: none;
  cursor: pointer;
}